
@{
    Layout = null;
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <title>登录</title>
    <link href="~/Content/Module/Home/Css/account.index.css" rel="stylesheet" />
    <script src="~/Scripts/Frame/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Module/Home/account.index.js"></script>
    <script type="text/javascript">
        $(function () {
            //执行轮播函数
            bannerToggle();

            //演示交互
            $('.login_box_tab').eq(0).find('.login_btn').on('click', function () {
                $(this).parent().parent().hide().next().show();
            });
        });
    </script>
</head>
<body>

    <!-- 头部区域 start -->
    <div class="login_header">
        <div class="login_logo">广州市白云区第一中心小学</div>
        <div class="login_app_download">
            <a class="login_alink" href="javascript:;" data-menu="board" data-board-duration="0">下载移动客户端</a>
            <div class="login_app_code_container" data-menu="secondary">
                <img src="@Url.Content("~/Content/Module/Home/Images/app-code.png")" alt="" />
                <p class="login_app_code_text">扫描下载</p>
            </div>
        </div>

        <!-- 登录盒子 start -->
        <div class="login_box">
            <div class="login_box_tab">
                <p class="login_title">登录云平台</p>
                <form action="" class="login_form">
                    <input class="login_input" type="text" name="" id="" placeholder="可输入用户名/学号/工号..." />
                    <input class="login_input" type="password" name="" id="" placeholder="输入密码..." />
                    <div class="login_forget_password">
                        <a href="javascript:;">忘记密码</a>
                    </div>
                    <div class="login_code">
                        <input class="login_code_input" type="text" name="" id="" placeholder="请输入验证码..." />
                        <img src="@Url.Content("~/Content/Module/Home/Images/code-img.png")" alt="" />
                        <a href="javascript:;">换一张</a>
                        <div class="clear"></div>
                    </div>
                    <div class="login_box_btn_bar"><input class="login_btn" type="button" value="登录" /></div>
                </form>
                <div class="login_thirdpart">
                    <img src="@Url.Content("~/Content/Module/Home/Images/thirdpart-left-line.png")" alt="" />
                    <span>第三方登录</span>
                    <img src="@Url.Content("~/Content/Module/Home/Images/thirdpart-right-line.png")" alt="" />
                </div>
                <div class="login_thirdpart_icon">
                    <a href="javascript:;"><img src="@Url.Content("~/Content/Module/Home/Images/qq-icon.png")" alt="" /></a>
                    <a href="javascript:;"><img class="weibo_icon" src="@Url.Content("~/Content/Module/Home/Images/weibo-icon.png")" alt="" /></a>
                    <a href="javascript:;"><img src="@Url.Content("~/Content/Module/Home/Images/renren-icon.png")" alt="" /></a>
                </div>
            </div>
        </div>
        <!-- 登录盒子 end -->
    </div>
    <!-- 头部区域 end -->

    <div class="clear"></div>

    <!-- 轮播区域 start -->
    <div id="login_wrapper" class="login_wrapper">
        <div class="login_banner_img active">
            <img src="@Url.Content("~/Content/Module/Home/Images/banner1.png")" alt ="" />
        </div>
        <div class="login_banner_img" style="opacity: 0; filter: alpha(opacity=0);">
            <img src="@Url.Content("~/Content/Module/Home/Images/banner2.png")" alt="" />
        </div>
        <div class="login_banner_img" style="opacity: 0; filter: alpha(opacity=0);">
            <img src="@Url.Content("~/Content/Module/Home/Images/banner3.png")" alt="" />
        </div>
    </div>
    <!-- 轮播区域 end -->
    <!-- 版权信息脚部 start -->
    <div class="login_footer">
        <span class="login_copyrights">Copyright © 2000-2016 xrj All Rights Reserved</span>
    </div>
    <!-- 版权信息脚部 end -->

</body>
</html>
